table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

html {
  font-size: 18px;
}
body {
  background-color: #333;
  color: whitesmoke;
}
a {
  color: aliceblue;
}
a:visited {
  color: aliceblue;
}
a:hover,
a:active {
  color: #eee;
}
mark.red {
  color: #ff0000;
  background: none;
}

mark.blue {
  color: #0000a0;
  background: none;
}

mark.yellow {
    color: #e7eb00;
    background: none;
  }


  mark.green {
    color: #00eb1f;
    background: none;
  }